<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Restaurant</title>
</head>
<body>
    {% include 'includes/header.html' %}

    <main>
        <!-- <p>Search location: {{location}}</p>
        <p>Search term: {{search_term or 'None Specified'}}</p>
        <p>Data: {{ restaurant }}</p>
        <h2>Top Restaurant:</h2> 
        <p>Name: {{ restaurant.get('name') }}</p> -->

        <div class="card">
            <h2>{{ restaurant.get('name') }}</h2>
            <img src={{ restaurant.get('image_url') }}>
            <p>{{ restaurant.get('display_address') }}</p>
            <div class="sledge">
                <p>Price:</p>
                <b>{{restaurant.get('price')}}</b>
            </div>
            <div class="sledge">
                <p>Rating:</p>
                <b>{{restaurant.get('rating')}}</b>
            </div>
            <div class="sledge">
                <p># Reviews:</p>
                <b>{{restaurant.get('review_count')}}</b>
            </div>
        </div>
    </main>
</body>
</html>

